 # Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# Environment & secrets
.env
*.env
profiles.yml

# DuckDB database files
*.duckdb
*.duckdb.wal
data/warehouse/

# dbt
dbt_packages/
dbt_modules/
target/
logs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json
